.landing {
    margin-top: 30vh;
    padding-left: 8%;
    position: absolute;
}

.landing .title {
    color: #0a0a0a;
    font-size: 15px;
    /* font-weight: bold; */
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    background: linear-gradient(
        /* 90deg, #0b499b, #00e5ff */
        /* 90deg, #ff6a00, #ee0979, #9c27b0, #3f51b5 */
        120deg,
        /* option 1 */
        /* #fd4766 20.69%, #ff8e0c 50.19%, #ffda06 79.69% */
        /* option 2 */
        #fe3e1c 20.69%, #ff8e0c 50.19%, #ffda06 79.69%
        /* option 3 */
        /* #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69% */
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.landing h1 {
    color: #ffffff;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.landing h1 span {
    color: #fd4766;
}
.landing p {
    width: 55%;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 30px;
}
.logo {
    max-height: 120px;
}